  <div>
   <div class="page-wrapper">
      
      <div class="content container-fluid">
                    
                    <!-- Page Header -->
                    <div class="crms-title row bg-white mb-4">
                        <div class="col  p-0">
                            <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                              <i class="fa fa-object-group" aria-hidden="true"></i>
                            </span> Form Input Groups </h3>
                        </div>
                        <div class="col p-0 text-right">
                            <ul class="breadcrumb bg-white float-right m-0 pl-0 pr-0">
                                <li class="breadcrumb-item"><a routerLink ="/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Form Input Groups</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Page Header -->
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Basic Examples</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Group Left</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Group Right</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">URL Example</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">https://</span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Group with Price</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-lg-3">Group with Price (Left)</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">0.00</span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Sizing</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Input Group Large</label>
                                            <div class="col-lg-9">
                                                <div class="input-group input-group-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="sizing-addon1">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Input Group Default</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="sizing-addon2">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-lg-3">Input Group Small</label>
                                            <div class="col-lg-9">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="sizing-addon3">@</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Checkbox and Radio Addons</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Checkbox</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-lg-3">Radio</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="radio">
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Multiple Addons</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Radio and Text Addons</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <input type="checkbox">
                                                        </span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-lg-3">Two Addons</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">0.00</span>
                                                    </div>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card mb-0">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">Buttons with dropdowns</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3">Radio and Text Addons</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Action</button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Left dropdown">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-lg-3">Two Addons</label>
                                            <div class="col-lg-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Right dropdown">
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Action</button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Separated link</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>  


                          <router-outlet></router-outlet>
        </div>
        
         <!--theme settings modal-->

            <div class="modal right fade settings" id="settings"  role="dialog" aria-modal="true">
                <div class="toggle-close">
                    <div class="toggle" data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
                    </div>
           
                </div>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header p-3">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel2">Settings</h4>
                        </div>

                        <div class="modal-body pb-3">
                            <div class="scroll">
                            
                            <div>
                                

                                

                                <ul class="list-group">
                                    <li class="list-group-item border-0">
                                      <div class="row">
                                        <div class="col">
                                          <h5 class="pb-2">Primary Skin</h5>
                                        </div>
                                        <div class="col text-right">
                                          <a class="reset text-white bg-dark" id="ChangeprimaryDefault">Reset Default</a>
                                        </div>
                                      </div>
                                      <div class="theme-settings-swatches">
                                         <div class="themes">
                                                <div class="themes-body">
                                                    <ul id="theme-change" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
                                                        <li class="theme-title">Solid Color</li>
                                                        <li class="list-inline-item"><span class="theme-solid-black bg-black"></span></li>
                                                        <li class="list-inline-item"><span class="theme-solid-pink bg-primary"></span></li>
                                                        <li class="list-inline-item"><span class="theme-solid-orange bg-secondary1"></span></li> 
                                                        <li class="list-inline-item"><span class="theme-solid-purple bg-success"></span></li>
                                                        <!-- <li class="list-inline-item"><span class="theme-solid-blue bg-info"></span></li> -->
                                                        <li class="list-inline-item"><span class="theme-solid-green bg-warnings"></span></li>
                                                        <li><br /></li>
                                                        <li><hr /></li>

                                                        <li class="theme-title">Gradient Color</li>
                                                        

                                                        <li class="list-inline-item"><span class="theme-orange bg-sunny-morning"></span></li>
                                                        <li class="list-inline-item"><span class="theme-blue bg-tempting-azure"></span></li> 
                                                        <li class="list-inline-item"><span class="theme-grey bg-amy-crisp"></span></li>
                                                        <li class="list-inline-item"><span class="theme-lgrey bg-mean-fruit"></span></li>
                                                        <li class="list-inline-item"><span class="theme-dblue bg-malibu-beach"></span></li> 
                                                        <li class="list-inline-item"><span class="theme-pink bg-ripe-malin"></span></li> 
                                                        <li class="list-inline-item"><span class="theme-purple bg-plum-plate"></span></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>

                                         
                                      </div>
                                    </li>
                                </ul>
                              </div>

                              <div>
                                <ul class="list-group">
                                  <li class="list-group-item border-0">
                                     <div class="row">
                                      <div class="col">
                                        <h5 class="pb-2">Header Style</h5>
                                      </div>
                                      <div class="col text-right">
                                        <a class="reset text-white bg-dark" id="ChageheaderDefault">Reset Default</a>
                                      </div>
                                    </div>
                                    <div class="theme-settings-swatches">
                                        <div class="themes">
                                            <div class="themes-body">
                                                <ul id="theme-change1" class="theme-colors border-0 list-inline-item list-unstyled mb-0">
                                                        <li class="theme-title">Solid Color</li>
                                                        <li class="list-inline-item"><span class="header-solid-black bg-black"></span></li>
                                                        <li class="list-inline-item"><span class="header-solid-pink bg-primary"></span></li>
                                                        <li class="list-inline-item"><span class="header-solid-orange bg-secondary1"></span></li> 
                                                        <li class="list-inline-item"><span class="header-solid-purple bg-success"></span></li>
                                                        <!-- <li class="list-inline-item"><span class="header-solid-blue bg-info"></span></li> -->
                                                        <li class="list-inline-item"><span class="header-solid-green bg-warnings"></span></li>
                                                        <li><br /></li>
                                                        <li><hr /></li>

                                                        <li class="theme-title">Gradient Color</li>

                                                        <li class="list-inline-item"><span class="header-gradient-color1 bg-sunny-morning"></span></li>
                                                        <li class="list-inline-item"><span class="header-gradient-color2 bg-tempting-azure"></span></li> 
                                                        <li class="list-inline-item"><span class="header-gradient-color3 bg-amy-crisp"></span></li>
                                                        <li class="list-inline-item"><span class="header-gradient-color4 bg-mean-fruit"></span></li>
                                                        <li class="list-inline-item"><span class="header-gradient-color5 bg-malibu-beach"></span></li> 
                                                        <li class="list-inline-item"><span class="header-gradient-color6 bg-ripe-malin"></span></li> 
                                                        <li class="list-inline-item"><span class="header-gradient-color7 bg-plum-plate"></span></li>
                                                        
                                                </ul>
                                            </div>
                                        </div>
                                        
                                      </div>
                                  </li>
                                </ul>
                              </div>
                              <div>
                                <ul class="list-group m-0">
                                  <li class="list-group-item border-0">
                                    <div class="row">
                                      <div class="col">
                                        <h5 class="pb-2">Apps Sidebar Style</h5>
                                      </div>
                                      <div class="col  text-right">
                                        <a class="reset text-white bg-dark" id="ChagesidebarDefault">Reset Default</a>
                                      </div>
                                    </div>
                                    <div class="theme-settings-swatches">
                                        <div class="themes">
                                            <div class="themes-body">
                                                <ul id="theme-change2" class="theme-colors border-0 list-inline-item list-unstyled">
                                                        <li class="theme-title">Solid Color</li>
                                                        <li class="list-inline-item"><span class="sidebar-solid-black bg-black"></span></li>
                                                        <li class="list-inline-item"><span class="sidebar-solid-pink bg-primary"></span></li>
                                                        <li class="list-inline-item"><span class="sidebar-solid-orange bg-secondary1"></span></li> 
                                                        <li class="list-inline-item"><span class="sidebar-solid-purple bg-success"></span></li>
                                                        <!-- <li class="list-inline-item"><span class="sidebar-solid-blue bg-info"></span></li> -->
                                                        <li class="list-inline-item"><span class="sidebar-solid-green bg-warnings"></span></li>
                                                        <li><br /></li>
                                                        <li><hr /></li>

                                                        <li class="theme-title">Gradient Color</li>

                                                        <li class="list-inline-item"><span class="sidebar-gradient-color1 bg-sunny-morning"></span></li>
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color2 bg-tempting-azure"></span></li> 
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color3 bg-amy-crisp"></span></li>
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color4 bg-mean-fruit"></span></li>
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color5 bg-malibu-beach"></span></li> 
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color6 bg-ripe-malin"></span></li> 
                                                        <li class="list-inline-item"><span class="sidebar-gradient-color7 bg-plum-plate"></span></li>
                                                        
                                                </ul>
                                            </div>
                                        </div>
                                        
                                      </div>
                                  </li>
                                </ul>
                                <div class="row Default-font">
                                    <div class="col">
                                        <h5 class="pb-2">Font Style</h5>
                                    </div>
                                    <div class="col text-right">
                                        <a class="reset text-white bg-dark font-Default">Reset Default</a>
                                    </div>
                                </div>
                                <ul class="list-inline-item list-unstyled font-family border-0 p-0">
                                  
                                  <li class="list-inline-item roboto-font">Roboto</li>
                                  <li class="list-inline-item poppins-font" >Poppins</li>
                                  <li class="list-inline-item montserrat-font">Montserrat</li>
                                  <li class="list-inline-item inter-font">Inter</li>
                                </ul>
                            </div>
                            
                        </div>
                        </div>

                    </div>
                </div>
            </div>

        <!--theme settings-->
        <div class="sidebar-contact">
            <div class="toggle" data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i></div>
           
        </div>
        
    </div>
